* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.loginpopup h2 {
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 20px;
}

.loginpopup input {
    display: block;
    border: 2px solid #ccc;
    width: 90%;
    padding: 5px;
    margin: 5px auto;
    border-radius: 5px;
}

.loginpopup label {
    color: rgb(63, 63, 63);
    font-size: 14px;
    padding: 10px;
    margin-left: 18px;
}

.loginpopup button {
    margin-top: 30px;
    background: rgb(0, 0, 0);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    border: none;
}

.loginpopup button:hover {
    opacity: .7;
}

.loginpopup h1 {
    color: #fff;
}

.ca {
    font-size: 14px;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #444;
}

.ca:hover {
    text-decoration: underline;
}

.loginpopup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    z-index: 101;
    display: none;
}

.loginpopup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 500px;
    height: 80vh;
    z-index: 102;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.loginpopup .closebtn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    color: black;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.loginpopup .closebtn:hover {
    background: #222;
    color: white;
    border-radius: 50%;
}

.loginpopup.active .overlay {
    display: block;
}

.loginpopup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.accountdelte button {
    margin: 40px;
    width: 80px;
}